.page_container {
  width: 1200px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  color: var(--color-secondary);
}

.page_title {
  font-size: 2.5rem;
}

.categories_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
}

.category {
  cursor: pointer;
  opacity: 0.5;
}

.active {
  text-decoration: underline;
  opacity: 1;
}

.products_container {
  display: grid;
  list-style-type: none;
  border: 1px solid var(--color-primary);
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product {
  height: 300px;
  width: 300px;
  border: 1px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.product_title {
  font-size: 1.5rem;
}

.product_price {
  opacity: 0.5;
  font-size: 1rem;
  margin-left: 10px;
}

.product_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.product_desc {
  display: block;
  opacity: 0.5;
  font-size: 1rem;
  margin-left: 10px;
  text-align: center;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;

  cursor: default;
}

.page_count {
  opacity: 1;
}

.btn_active {
  opacity: 1;
}

.btn_inactive {
  opacity: 0.5;
}
