.component_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  background-color: var(--color-background);
  z-index: 3;
  border: 5px double var(--color-primary);
  padding: 0px 20px;
  width: fit-content;
  margin-bottom: 20px;
  //text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
