.component_container {
  width: 100%;
  min-height: 40vh;
  border: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 8px;
}

.page_title {
  height: 20%;
  font-size: 2.5rem;
  background-color: var(--color-background);
  z-index: 3;
  border: 5px double var(--color-primary);
  padding: 0px 20px;
}

.categories_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.category_item {
  border: 1px solid var(--color-primary);
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 5px 0px 20px 16px rgba(231, 231, 231, 0.08);
}

.category_item:hover {
  transform: scale(1.05);
  transition: all ease-in-out 10;
}

.category_item img {
  width: 100%;
  min-width: 300px;
  height: 300px;
  object-fit: cover;
  background-color: #ffffff4a;
}

.item_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item_content h3 {
}

.item_content p {
  text-align: center;
}
