.card {
  //border: 1px solid var(--color-primary);
  background-color: var(--color-variant);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  //gap: 30px;
  border-radius: 8px;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.card_title {
  /* font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-muted); */

  height: 20%;
  font-size: 2.5rem;
  color: var(--color-muted);
  margin-bottom: 30px;
  width: max-content;
  //background-color: var(--color-background);
  z-index: 3;
  border: 5px double var(--color-muted);
  padding: 0px 20px;
}

.container {
  /* border: 2px solid #fff; */
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden;
}

.item {
  background-color: var(--color-variant-accent);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_title {
  color: #fff;
  font-size: 1.25rem;
}
