.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  width: 100%;
  max-width: 1600px;
  height: 70vh;
  padding: 20px;
  //margin: 30px 20px;
  position: relative;
}

.main_title {
  font-size: 2.5rem;
  background-color: var(--color-background);
  z-index: 3;
  width: max-content;
  border: 5px double var(--color-primary);
  padding: 0px 20px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.125rem;
}

.contact_form label {
  text-transform: uppercase;
}

.contact_form input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  padding: 8px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  width: 100%;
}

.field_container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.field_email_container {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.field_name {
  text-align: left;
  text-transform: uppercase;
}

.field_value {
  text-align: left;
  margin-top: 8px;
  line-height: 1.5rem;
}

.social_links_container {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-start;
}

.btn {
  background: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(227, 81, 81);
}
