.component_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
}

.title {
  font-size: 2.5rem;
  background-color: var(--color-background);
  z-index: 3;
  border: 5px double var(--color-primary);
  padding: 0px 20px;
  margin-bottom: 20px;
}

.sub_title {
  font-size: 1.25rem;
}

.card_img {
  color: var(--color-primary);
}
.card_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.card {
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
}

.card_title {
  color: var(--color-foreground);
  font-weight: 600;
}

.card_info {
  font-size: 1rem;
}
