.container {
  border: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  //margin: 30px 20px;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  //max-width: 800px;
  position: relative;
  border-radius: 8px;
}

.layout_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 100px;
  min-width: 600px;
  //border: 2px solid var(--color-primary);
  border-radius: 8px;
  padding: 20px 30px;
}

.layout_bottom {
  //border: 2px var(--color-primary) solid;
  display: block;
  border-radius: 8px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.slider_wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
}

.title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  //width: 600px;
  border: 5px double var(--color-primary);
  padding: 10px 20px;
  width: fit-content;
  text-align: left;
}

.display {
  font-size: 1.5rem;
  text-align: center;
  width: 50px;
}

.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.btn {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  transition: ease-in-out;
  width: 48px;
  height: 48px;
}

.btn svg {
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
  transform: scale(1.1);
}

.btn:hover svg {
  color: #fff;
}

.icon {
  height: 100%;
  width: 100%;
  color: #fff;
}

.items_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--color-background);
  min-width: 400px;
  height: 100%;
  padding: 10px;
  //border: 5px double var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item_title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}

.item_desc {
  font-size: 1rem;
  text-align: left;
}

.author_container {
  padding: 10px;
  display: flex;
  gap: 12px;
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.author_content_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 600;
}

/* .author_name {} */

/* .location {} */
